body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background: url("back.png") fixed no-repeat center;
  background-size: cover;
  color: #FFD285;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #632D47;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 300px 220px;
      grid-template-columns: auto 300px 220px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: 'links search profileP';
  line-height: 4rem;
  color: white;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  opacity: 0.8;
}

.navbar a:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 1;
}

.navbar .links {
  text-align: left;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: links;
}

.navbar .search {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 40px;
      grid-template-columns: auto 40px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: 'input sIcon';
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: search;
  margin: 1rem;
  background-color: #A84B60;
  overflow: hidden;
  border-radius: 1rem;
}

.navbar .search .searchBar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: input;
  border: none;
  padding: 8px;
  border-radius: 1rem;
  width: 100%;
  background-color: transparent;
  color: white;
}

.navbar .search .searchBar:focus {
  outline: none;
}

.navbar .search i {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: sIcon;
  padding: 4px;
  color: #F6CB83;
  cursor: pointer;
}

.navbar .profileP {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 50px auto 20px;
      grid-template-columns: 50px auto 20px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: profileP;
  border-left: 1px solid #ffffff40;
  padding: 0 1rem;
  cursor: pointer;
}

.main {
  grid-gap: 0;
  position: relative;
  width: 100vw;
  height: calc(100vh - 64px);
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px calc(60% - 60px) 40%;
      grid-template-columns: 60px calc(60% - 60px) 40%;
  -ms-grid-rows: 60px 60px auto auto;
      grid-template-rows: 60px 60px auto auto;
      grid-template-areas: 'sidenav title title' 'sidenav lname dname' 'sidenav graph doughnut' 'sidenav graph barchart';
}

.main #sidenav {
  text-align: center;
  position: relative;
  height: 100%;
  overflow: hidden;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: sidenav;
  background-color: #632D47;
}

.main #sidenav i {
  padding: 1.1rem;
  color: #A84B60;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main #sidenav i:hover {
  color: white;
}

.main #titlebar {
  height: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: title;
  line-height: 60px;
  padding: 0 2rem;
  background-color: #EC4863;
}

.main #lname {
  padding: 2rem;
  margin-left: 2rem;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: lname;
}

.main #linechart {
  position: relative;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: graph;
  width: 100%;
  padding: 2rem 4rem;
  padding-bottom: 1rem;
}

.main #dname {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: dname;
  padding: 2rem;
}

.main #doughnut {
  width: 100%;
  position: relative;
  padding-top: 1rem;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: doughnut;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main #doughnut div:nth-of-type(1) {
  width: 50%;
  display: flexbox;
}

.main #doughnut div:nth-of-type(2) {
  width: 50%;
  display: flexbox;
}

.main #barchart {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: barchart;
  padding-right: 4rem;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main #barchart div:nth-of-type(1) {
  width: 33%;
}

.main #barchart div:nth-of-type(2) {
  width: 33%;
  display: flexbox;
}

.main #barchart div:nth-of-type(3) {
  width: 33%;
  display: flexbox;
}

.hightlight {
  background-color: #A84B60;
  color: #FFD285 !important;
  height: 60px;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/*# sourceMappingURL=main.css.map */